nav a{
    font-size: 1.5em;
    color:white;
    margin-left: 3.5em;
    font-weight: bold;
    background-color: purple;
    display: white;
    text-decoration: underline;
}

body{
    background-color:black;
    color: white;
    
}

header{
    margin: 2em;
    background-color: purple;
    padding:2em;
    color: white;
    display:block
}


a:hover{
    color:black;
}

