*{
    margin: 0;
    padding: 0;
}
nav a{
    font-size: 1.5em;
    color:black;
    margin-left: 3.5em;
    margin: 1em;
    padding: 0.5em;
    font-weight: bold;
    text-decoration: underline;
    grid-area: nav;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: purple;
    border-top: 0.20em solid white;
    border-left: 0.20em solid white ;
    border-right: 0.20em solid white;
}

nav > ul > li{
    position: relative;
    width: 100%
}

nav ul ul{
    position: absolute;
    display: block;
    background-color: rgb(74, 13, 104);
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in;
    pointer-events: none;
}

nav > ul > li:hover ul{
    opacity: 1;
    pointer-events: auto;

}
body{
    background-color:black;
    color: white;
    grid-area: body;
    margin: 0;
    height:100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
         "nav"
         "header"
         "main"
         "footer";
}

header{
    margin: 1em;
    background-color: black;
    padding: none;
    color: white;;
    grid-area: header;
    justify-content: center;
}

h1{ justify-content: center;
    align-items: center;
    text-align: center;
}


a:hover{
    color:white;
    transition: color 0.25s ease-in-out;
}

footer{
    grid-area: footer;
    background-color: purple;
    color: white;
    text-align: center;
    margin: 0em;
    padding: 0em;
    height: 100%;
    border-bottom: 0.20em solid white;
    border-left: 0.20em solid white;
    border-right: 0.20em solid white;
}

.social-media-icons{
    size: 10em;
}
main{
    text-align: center;
    font-size: 2.5em
}

.indexHeader{
    transform: skew(2deg, 3deg);
}

i{
    font-size: 3em;
    color: black;
    transition: color 0.25s ease-in-out;
}

i:hover{
    color: white;
}

.project-font{
    font-size: large;
}

.project-main{
    display: grid;
    grid-template-columns: repeat(2,auto);
}

.project-div{
    border: 1em solid black;
    padding: 2em;
}

.project-image{
    width: 100%;
}