*{
    margin: 0;
    padding: 0;
}
nav a{
    font-size: 1.5em;
    color:black;
    margin-left: 3.5em;
    margin: 1em;
    padding: 0.5em;
    font-weight: bold;
    text-decoration: underline;
    grid-area: nav;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: purple;
}

nav > ul > li{
    position: relative;
    width: 100%
}

nav ul ul{
    position: absolute;
    display: block;
    background-color: rgb(74, 13, 104);
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in;
    pointer-events: none;
}

nav > ul > li:hover ul{
    opacity: 1;
    pointer-events: auto;

}
body{
    background-color:black;
    color: white;
    grid-area: body;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
         "nav"
         "header"
         "main"
         "footer";
}

header{
    margin: 1em;
    background-color: black;
    padding: none;
    color: white;;
    grid-area: header;
    justify-content: center;
}

h1{ justify-content: center;
    align-items: center;
}


a:hover{
    color:white;
}

footer{
    grid-area: footer;
    background-color: purple;
    color: white;
    


}

